@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-feedback-success: #2d9200;
  --color-feedback-success-rgba: "rgba(71, 173, 26, 0.5)";
  --color-feedback-progress: #3b82f6;
  --color-feedback-progress-rgba: "rgba(150, 196, 224, 0.5)";
  --color-feedback-dark: #1a1f2c;
  --color-feedback-darkgray: #2d3142;
  --color-feedback-lightgray: #667085;
  --color-black-vup: #202020;
}

@layer utilities {
  .feedback-card-success {
    @apply rounded-xl bg-gradient-to-r from-feedback-success/20 to-feedback-success/5 border-feedback-success/30  border shadow-xl backdrop-blur-lg text-white;
  }

  .feedback-card-progress {
    @apply rounded-xl bg-gradient-to-r from-feedback-progress/20 to-feedback-progress/5 border-feedback-progress/30  border shadow-xl backdrop-blur-lg text-white;
  }

  .feedback-card-neutral {
    @apply rounded-xl bg-gradient-to-r from-white/10 to-white/5 border-white/20 border shadow-xl backdrop-blur-lg text-white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes haloBounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

@keyframes scrollArrow {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.halo {
  animation: haloBounce 3s infinite ease-in-out;
}

.scroll-arrow {
  animation: scrollArrow 1.5s infinite ease-in-out;
  animation-delay: 2s;
}
